# Custom
.env
envs/

# venv
.venv/
.python-version/

# Python
*.pyc
*.pyo
__pycache__/

# Django
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
__pycache__/
media/
static/

# IDE specific files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# Temporary files
*.swp
*.bak
*.swm
*.swo

# pytest
.pytest_cache/
*.pytest_cache/
.cache/
